.professional-experience {
    margin: 0px;
    font-size: 0.9em;
    color: #333;
}

.professional-experience h3 {
    font-size: 1em;
    margin: 10px 0 0 0;
}

.separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 5px 0;
}
  