.professional-experience-section {
    margin: 0 auto; /* Center the section */
    overflow: hidden;
    margin: 0 0 15px 0;
  }
  
.professional-experience-section h4 {
  font-size: 1em;
  margin-bottom: 5px;
}

.experience-list {
  max-height: 250px;
  overflow-y: auto;
}

.experience-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 5px;
}

.experience-item h4 {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.experience-item p {
  font-size: 0.9em;
  color: #555;
  margin: 5px 0;
}

.experience-item ul {
  padding-left: 20px;
  margin: 0;
}

.experience-item li {
  font-size: 0.8em;
  color: #555;
}

.experience-buttons {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  justify-content: center;
}

.experience-buttons button {
  padding: 5px 10px;
  font-size: 0.7em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.experience-buttons button:hover {
  opacity: 0.9;
}

.add-experience {
  margin: 5px 0 0 0;
}
